* {
    box-sizing: border-box;
}

body{
    width: 90%;
    margin: auto;
}

.topnav {
    overflow: hidden;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(235, 255, 230);
    width: 100%;
    margin: auto;
  
}

.topnav a {
    float: left;
    color: rgb(60, 60, 60);
    text-align: center;
    padding: 10px 20px;
    text-decoration: none; 
  }

.right{
    float: right;
}


.topnav a:hover{
    color: red;
}

#banner{
    position: relative;
    margin: 0;
    padding: 0;
}
#banner h1{
    position: absolute;
    top: 20%;
    left: 5%;
    color: white;
    font-size: 5vw;
    font-family: 'Updock', cursive;
}

#banner p{
    position: absolute;
    top: 35%;
    left: 5%;
    color: white;
    font-size: 4vw;
    font-family: 'Updock', cursive;
}

.row::after{
    clear: both;
    display: block;
}

[class*="col-"]{
    float: left;
    width: 100%;
}

.col-1 {width: 8.33%;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.content{
    width: 100%;
    padding: 30px 0px;
    margin-top: -1%;
}

.other-content img{
    width: 80%;
}

.other-content{
    width: 90%;
    margin: auto;
    padding: 15px;
}

.bg-cl{
    overflow: hidden;
    width: 100%;

}

.gallery{
    width: 90%;
    margin: 0 auto 20px;
}

.gallery img{
    width: 100%;
}

.gallery:hover{
    background-color: yellow;
}

.text-jt{
    text-align: justify;
}

.text-ct{
    text-align: center;
    padding: 5px 0;
}

.comment{
    width: 80%;
    height: 500px;
    padding: 15px 0;
    margin: 0 auto;
    background-color: white;
    overflow: scroll;
}

.mg-content{
    margin: 1% 4% 2% 4%;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(60, 60, 60);
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(60, 60, 60);
}

a{
    color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
 }

p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(128, 128, 128);
}

footer a:hover{
    color: red;
}

.footer{
    width: 60%;
    margin: auto;
}

.footer div{
    padding: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}